body {
  margin: 0;
}
html, body, #map {
  height: 100%;
}
#mapid{
    height: 600px;
    width:100%;
    margin-top:10px;

}
.info,.population_info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 ,.population_info h4{
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
    width:90px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
#panel1 {
    /* background-image: url("https://ak.picdn.net/shutterstock/videos/11807978/thumb/12.jpg"); */
    background-image: url(../static/images/hmpg.jpg);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
        
#panel2 {
    height:500px;
    background-color:lightgray;
    font-size:20px;
    top: 70%;
  }
#tagline {
    color: black;
    font-size:20px;
    top: 40%;
    text-align: center;
  }
#panel3 {
    height:100px;
    background-image: url(../static/images/hmpg.jpg);
    font-size:36px"
  }
#panel4 {
    height:500px;
    background-color:black;
  }
#panel5 {
    height:10%;
    background-image: url(../static/images/hmpg.jpg);
    padding-left:500px;
  }
#ftext {
    color:white;
    font-weight: 200;
    position:relative; 
    top:50%;
}
#text {
    margin: 0;
    color:black;
    font-size: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  #explorebtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#343A40;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  #newsfeed {
    color:white;
    left: 50%;
    top: 40%;
    text-align: center;
    font-size: 300%;
  }
  #column {
    float: left;
    width: 33.33%;
    padding: 50px;
  }
  
  /* Clearfix (clear floats) */
  #row::after {
    content: "";
    clear: both;
    display: table;
  }