body {
  margin: 0;
}
html, body, #map {
  height: 100%;
}
.map-container{
}
#mapid{
    position:absolute;
    height:680px;
    width:100%;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #1A1A1A;
    color: #ffffff;
    opacity:0.9;
}
.title{
    color: black;
   font-size: 17px;
   background: white;
   padding: 5px 14px;
   border-radius: 5px;
   opacity: 0.9
}
.info,.population_info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 ,.population_info h4{
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
    width:90px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
#panel1 {
    /* background-image: url("https://ak.picdn.net/shutterstock/videos/11807978/thumb/12.jpg"); */
    background-image: url(../static/images/hmpg.jpg);
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#panel2 {
    height:500px;
    background-color:lightgray;
    font-size:20px;
    top: 70%;
  }
#tagline {
    color: black;
    font-size:25px;
    font-weight: bold;
    text-align: center;
  }
#panel3 {
    height:100px;
    background-image: url(../static/images/hmpg.jpg);
    font-size:36px"
  }
#panel4 {
    height:500px;
    background-color:black;
  }
#panel5 {
    height:10%;
    background-image: url(../static/images/hmpg.jpg);
    padding-left:500px;
  }
#ftext {
    color:white;
    font-weight: 200;
    position:relative;
    top:50%;
}
#text {
    margin: 0;
    color:black;
    font-size: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  #explorebtn {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:black;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }
  #newsfeed {
    color:white;
    left: 50%;
    top: 40%;
    text-align: center;
    font-size: 300%;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    font-weight: bold;


  }
  #column {
    float: left;
    width: 33.33%;
    padding: 50px;
    position: relative;
  text-align: center;
  color: black;
  }

  /* Clearfix (clear floats) */
  #row::after {
    content: "";
    clear: both;
    display: table;
  }
  #centered {
    color:white ;
    font-weight: bold;
    font-size: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
  }
  #coretxt {
    color: black;
    font-size:20px;
    position: relative;
    bottom: 70%;
    left: 60%;
  }
  #mainpic {
    margin-top: 3%;
    width:50%;
    height: 70%;
    padding-left:100px;
  }