#mapid{
    position:absolute;
    height:100%;
    width:100%;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #1A1A1A;
    color: #ffffff;
    opacity:0.9;
}
.title{
   color: black;
   background: white;
   padding: 5px 14px;
   border-radius: 2px;
   opacity: 0.9;
   margin-top:21%!important;
}
.crime_filters{
    margin-bottom: 60%!important;
    background-color:white;
    padding: 5%;
    width: 200px;
    opacity:0.9;
    border-radius:2px;
}
.crime_filters label {
    color: black;
    font-weight: bold;
    margin-left:3px;
}
.info,.population_info {
    padding: 6px 8px;
    font: 14px/14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 25%!important;
}
.info h5 ,.population_info h5{
    margin: 0 0 5px;
    color: #777;
}
.legend {
    line-height: 18px;
    color: #555;
    width:90px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
