{% extends 'navbar.html' %}

{% block content %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <div id="panel1"></div>
    <div><h1 id="text">Collect.Analyze.Prevent</h1> </div>
    <div><button id="explorebtn">Explore</button> </div>

    <div id="panel2">
        <p id="tagline">Spartan Security Provides a Cutting Edge Solution for Crime Prevention with Time Seires Prediction</p>
    </div>
    <div id="panel3"></div>
    <div id="panel4"></div>
    <div id="panel5">
        <footer id='ftext'>&copy; 2020 Spartan Security. All Rights Reserved.</footer>
    </div>
</body>

</html>

{% endblock  %}