{% extends 'navbar.html' %}

{% block content %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <!-- panel 1 content -->
    <div
        style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg');height: 100%;background-attachment: fixed; background-position: center;background-repeat: no-repeat;background-size: cover">
        <div style="position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;">Future awaits, but Safety first <h6>Plan ahead with Spartan Security</h6><button>Explore</button></div>
    </div>

    <!-- panel 2 content -->
    <div style="height:700px;background-color:white;font-size:36px"></div>
    <div style="color: black;padding-left:555px;padding-top:50px;">
    </div>
    <div
        style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg');height: 20%;background-attachment: fixed; background-position: center;background-repeat: no-repeat;background-size: cover">
    </div>

    <!-- panel 3 content -->
    <div style="height:500px;background-color:black;font-size:36px">
        <div style="color: white;padding-left:470px;padding-top:50px;">
            <h1>Stay Updated</h1>
        </div>
        <div style="clear: both;display: table;float: left">
            <div style="float: left;width: 33.33%;padding: 30px;">
                <a
                    href="https://www.baltimoresun.com/news/crime/bs-md-ci-cr-thursday-crime-20200611-t2jusxxhibfutj5x64dobsfx5e-story.html">
                    <div>
                        <img src=static/images/news1.png alt="Snow" style="width:100%">
                    </div>
                    <!-- <div style="color:white;position: absolute;font-size: small;right: 82%">Learn More</div> -->
                </a>
            </div>
            <div style="float: left;width: 33.33%;padding: 30px;">
                <a
                    href="https://www.baltimoresun.com/maryland/howard/cng-ho-cf-crimelog-0625-20200624-olqqv22subbezffgy42flcuvne-story.html">
                    <img src=static/images/news2.png alt="Forest" style="width:100%">
                </a>
            </div>
            <div style="float: left;width:33.33%;padding: 30px;">
                <a href="https://www.nytimes.com/2019/03/12/magazine/baltimore-tragedy-crime.html">
                    <img src=static/images/news3.png alt="Mountains" style="width:100%">
                </a>
            </div>
        </div>
</body>
</div>

<!-- panel 4 content -->
<div
    style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg');height: 10%;background-attachment: fixed; background-position: center;background-repeat: no-repeat;background-size: cover">
    <br>
    <footer style="padding-left:500px;color: white;font-weight: 200">&copy; 2020 Spartan Security. All Rights Reserved.
    </footer>
</div>

</body>

</html>

{% endblock  %}